<div class="mr" id="welcome" style="display: none;">
  <div class="mr-header">
    <h3 class="mr-title">『欢迎访问MrZeFr的小窝!』</h3></div>
  <div class="mr-main">
    <p><strong>Hello there!👋</strong></p>
    <p id="website_referrer"></p>
    <p>欢迎来到
      <strong>MrZeFr的小窝</strong>，你在这里可以看看我写的文章,看看对你有没有帮助,或者有什么建议可以在博客的留言板留言哦!</p>
    <p>
    <strong>祝你今天愉快呀!</strong>
    </p>
    <p>今日诗词: <span id="jinrishici-sentence">忽如一夜春风来,千树万树梨花开。</span></p>
  </div>
  <div class="mr-close">
    <span class="mr-btn" onclick="closetips()">好哒</span></div>
</div>
