section#drinks-box
  section#drinks-box-s.drinks-button.left-100
    #drinks-icons.left-100.tr3
      #coffee-donate.icon-donate
        img(src='https://assets.mrzefr.cn/2022/10/b41acb9958f2e3311d171012cffb15fc.png' alt='打赏')
    #drinks-button-box.tr3.left-100
      #drinks-button-bg.left-100
      ul#donate-buttons.list.tr3
        li#paypal_donate.donate-button
          a(href='https://www.paypal.me/MrZeFr233' target='_blank') Paypal
        li#alipay_donate.donate-button 支付宝
        li#wechat_donate.donate-button 微信
    #drinks-qrcodes.left-100.tr3
      #drinks-qrcode
