#sticky
  #stickyList.swiper-container
    #stickyWrapper.swiper-wrapper
      .swiper-slide(onclick=`toRandomPost()`)
        .grid-img
          iframe#banner-page(src="/people/" frameborder="0" loading="eager")
        .grid-title
          span 随便看看✈️
          i.fas.fa-arrow-right
